.formSignUp {
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}

.inputSignUp {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
}

.buttonSignUp {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.buttonSignUp:hover {
    background-color: #0056b3;
}
