.bandItem {
    width: 270px;
    height: 390px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;

}

.bandImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.bandName {
    margin-left: 10px;
    font-size: 24px;
    margin-top: 10px;
}

.bandDescription {
    margin-left: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.bandType {
    margin-left: 5px;
    font-size: 14px;
    margin-top: 5px;
}
.bandItem:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow on hover */
}

.bandLink {
    text-decoration: none; /* Remove default link styles */
    color: inherit; /* Inherit color from parent */
}