
body{
    background-color: #f0f0ff ;
}
.bands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Individual band item */
.band-item {
    width: 270px;
    height: 390px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
}

.band-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.band-name {
    margin-left: 10px;
    font-size: 24px;
    margin-top: 10px;
}

.band-description {
    margin-left: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.band-type {
    margin-left: 5px;
    font-size: 14px;
    margin-top: 5px;
}
body {
    background-color: #f0f0ff;
}

.band-item:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow on hover */
}

.band-link {
    text-decoration: none; /* Remove default link styles */
    color: inherit; /* Inherit color from parent */
}
/*AAAAAAAAAAAAAAAAAAAAlbums*/
.albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Individual album item */
.album-item {
    width: 300px;
    margin: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.album-item:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow on hover */
}

/************SONGS*/

.song-item {
    background-color: #f0f0ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.song-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;

}
