.albumItem {
    width: 250px;
    margin: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;



}

.albumItem:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow on hover */
}
